rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /gestao-escolar/estado-geral {
      allow read, write: if true;
    }
  }
}
